.title{
  font-size: 45px;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica";
  font-style: 400;
  padding-left: 45vw;
  padding-top: 10vh;
  color: #fff;
}

.label{
  font-size: 20px;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica";
  font-style: 400;
  padding-top: 2vh;
  padding-left: 38vw;
  color: #fff;
}

.formStyle{
  min-height: 30vh;
}

.inputStyle{
  min-height: 4vh;
  min-width: 20vw;
  font-size: 20px;
}

.buttonStyle{
  height: 50px;
  width: 200px;
  border: #ce616e;
  border-radius: 5px 5px 5px 5px;
  color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica';
  font-weight: 400;
  font-size: 20px;
  background-color: #ce616e;
}

.buttonDivStyle{
  padding-left: 43vw;
  padding-top: 5vh;
}

.body{
  background-color:  #32425c;
  height: 100vh;
}

.signupDiv{
   font-size: 15px;
   font-family: "Open Sans", "Helvetica Neue", "Helvetica";
   font-style: 400;
   padding-left: 44vw;
   padding-bottom: 15vh;
}
